P {
  padding: 20px;
  border: 1px solid blue;
  /* display: inline-block; */
  inline-size: 600px;

}

span {
  display: inline-block;
  background-color: pink;
  border: 1px solid blue;
  padding: 20px;
  width: 500px;
  margin: 50px 20px;
  
}