/* 기본글꼴 */
:root {
  --base-font: 'SUIT Variable', sans-serif;
}

body *, body *::before, body *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--base-font);
  line-height: 1.15;
}

*:focus {
  outline: 0;
}
*:focus-visible {
  outline: 1px solid green;
}