body {
  font-family: "NotoSans", sans-serif;
}

/* header(헤더) */
.header {
  width: 940px;
  background-color: yellow;
}

/* visual(비주얼) */
.visual {
  width: 940px;
  /* inline-size: 940px;  */
  background-color: pink;
}

/* main content(메인) */
.main {
  /* width: 940px; */
  background-color: skyblue;
}

/* slogan(슬로건) */
.slogan {
  width: 940px;
  background-color: beige;
}

/* footer(푸터) */
.footer {
  width: 940px;
  background-color: purple;
}